.navItemContainer a {
  text-decoration: none;
  color: var(--color-body-text);
}
.navItemContainer a:focus {
  font-weight: bold;
  border-bottom: 1px solid var(--color-body-text);
}
.navContainer {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2);
}
.navContainer > h2 {
  cursor: pointer;
}

.navContainer > input {
  width: 20vw;
}
.navItemContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}
